.row {
    padding: 0 2.5vw;
    text-align: center;
    margin-top: 1.5vh;
}

@media (min-width: 422px){
    .row {padding: 0 25px;
    }
}

img {
    width: calc(90vw - 5%);
    height: 27.5vw;
    object-fit: cover;
}

.slide {
    margin-bottom: 5%;
}

.logo {
    max-width: 33%;
    height: auto;
    transition: all .5s;
}

@media (max-width: 992px){
    .logo {max-width: 50%;
        transition: all .5s;
    } 
}

@media (max-width: 572px){
    .logo {max-width: 75%;
        transition: all .5s;
    }
}

h5 {
    font-weight: normal;
    font-size: calc(0.8rem + 1.25vmax);
    padding-bottom: calc(5px + 2%);
}

p {
    font-size: calc(.5rem + 1vmax);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.55);
    color: #F5EEF8;
    padding: 1% 0;
}