<body>
   
    <div id="container" style="overflow: auto">

        <app-header></app-header>

    </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4">

            <div class="col">

                <table class="table">
                    <thead>
                        <tr>
                            <th><!--<a href="/desc/{{producto.id}}">-->
                                <img class="portada" src="/assets/GOGOGO Manga y comics store.jpg" alt="prueba"> <!-- here goes the manga/comic portrais -->
                            <!--</a>--></th> 
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <th>Titulo - Volumen</th>
                        </tr>
                        <tr> 
                            <th>Precio: $000</th>
                        </tr>
                    </tbody>
 
                </table>

            </div>

            <div class="col">

                <table class="table">
                    <thead>
                        <tr>
                            <th><img class="portada" src="/assets/GOGOGO Manga y comics store.jpg" alt="prueba"></th> <!-- aca irian las imagenes de portadas-->
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <th>Titulo - Volumen</th>
                        </tr>
                        <tr> 
                            <th>Precio: $000</th>
                        </tr>
                    </tbody>
 
                </table>

            </div>

            <div class="col">

                <table class="table">
                    <thead>
                        <tr>
                            <th><img class="portada" src="/assets/GOGOGO Manga y comics store.jpg" alt="prueba"></th> <!-- aca irian las imagenes de portadas-->
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <th>Titulo - Volumen</th>
                        </tr>
                        <tr> 
                            <th>Precio: $000</th>
                        </tr>
                    </tbody>
 
                </table>

            </div>

            <div class="col">

                <table class="table">
                    <thead>
                        <tr>
                            <th><img class="portada" src="/assets/GOGOGO Manga y comics store.jpg" alt="prueba"></th> <!-- aca irian las imagenes de portadas-->
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <th>Titulo - Volumen</th>
                        </tr>
                        <tr> 
                            <th>Precio: $000</th>
                        </tr>
                    </tbody>
 
                </table>

            </div>

        </div>

    <div id="container" style="overflow: auto">

        <div class="row">

            <div class="col text-center ">
                <button id="previousPageButton" class="btn btn-black">Anterior</button>
                <button id="nextPageButton" class="btn btn-black">Siguiente</button>
                <br><span id="pageNumber"></span>
            </div>
        
        </div>
    
    </div>

    <div id="container" style="overflow: auto">

        <app-footer></app-footer>

    </div>
    
    <div class="row end">
        <div class="col text-center">
            <span>Copyright © GOGOGO Manga & Comics Store - 2022. Todos los derechos reservados.</span>
        </div>
    </div>

    <div class="col-1 text-end top" [ngClass]="{'showTop': windowScrolled}">
        <a class="btn btn-black" href="#" role="button"><i class="bi bi-arrow-up"></i></a>
    </div>

</body>
