<app-nav-bar></app-nav-bar>

<body>
    <div id="container-fluid">
        <h4>TITULO - VOLUMEN</h4>
        <hr class="solid">
        <div class="row">
            <div class="col-12 col-sm-5 col-lg-3">
                <img class="portada" src="/assets/GOGOGO Manga y comics store.jpg" alt="prueba">
            </div>
            <div class="col desc">
                <p><b>Descripcion:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sed, consequatur ipsam rerum reprehenderit vel laborum illum quos, optio autem eveniet aliquam. Laudantium hic eaque, iusto error odit quos modi.</p>
                <p><b>Stock:</b> Disponible/No Disponible</p>
                <p><b>Precio:</b> $000</p>
            </div>
        </div>    
    </div>
</body>
