main{
    height: 100vh;
    background-image: url("/assets/GOGOGO Manga y comics store.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body { 
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #212F3D;
    text-align: center;
    outline: 9px double #4C90BE;
    width: calc(40vw + 30vmin);
    padding: 1vh 2vw;
    border-radius: 10px;
    background-color: #F5EEF8;
    box-shadow: 0px 0px 40px rgba(0,0,0,1);
}

h4 {
    font-weight: bold;
    padding-top: calc(5px + 5%);
    font-size: calc(0.8rem + 2.2vmax);
}

h5 {
    font-weight: normal;
    font-size: calc(0.6rem + 1.2vmax);
    padding-bottom: calc(5px + 2%);
}

input {
    text-indent: calc(.5rem + 2.5vw);
    padding: 2px;
    margin: 5px;
    width: calc(30vw + 30vmin);
    max-width: calc(300px + 20vw);
    border-radius: 10px;
    border-color: #4C90BE;
    font-size: calc(0.6rem + 1.2vmax);
}

.btn-primary {
    margin: calc(.5rem + 1.5vw) 2vw;
    background-color: #5A348C;
    border-color: #47296D;
    border-radius: 10px;
    font-size: calc(0.6rem + 1.2vmax);
    width: 20%;
    min-width: fit-content;  
}

.btn-primary:hover {
    background-color: #47296D;
    border-color: #5A348C;
}