body {
    background-image: url("/assets/Gogogo feed completo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 125px 3vw 25px 3vw;
    min-height: 100vh;
}

#container {
    box-shadow: 0px 0px 40px rgba(0,0,0,1);
    background-color: rgba(0,0,0,.7);
    outline: 9px double #4C90BE;
    border-radius: 8px;
    backdrop-filter: blur(4px);
}

.top-buttons {
    display: inline;
}

@media (max-width: 475px){
    .top-buttons {display: block;
    } 
}

.header {
    text-align: center;
    margin-top: 1.5vh;
}

img {
    max-width: 50%;
    height: auto;
}

@media (max-width: 520px){
    img {max-width: 75%;
    } 
}

.portada {
    max-width:30vw;
    max-height:60vh;
}

table{
    background-color: rgba(19,141,117,.5);
    margin-bottom: 0;
}

thead th {
    padding: 0;
}

tr {
    border-left: 2px solid #45b39d ;
    border-right: 2px solid #45b39d;
}

tr {
    color: white;
    text-align: center; 
    border-bottom: 2px solid #45b39d; 
    border-top: 2px solid #45B39D;
    font-size: 1.2em;
}

table tbody tr:nth-of-type(even) {
    background-color: rgba(23, 165, 137, 0.4);
}

.row {
    margin: 0;
}

.row > * {
    padding: 0.5rem 0;
}

.ui-widget {
    font-size: 1.2em;
    text-align: center;
}

.ui-widget input {
    position: relative;
    top: 2.5px;
    background-color: #F5EEF8;
    font-size: 1.15em;
    outline: none;
    border-radius: 6.5px;
    text-indent: 10px;
}

.ui-widget ::placeholder {
    background-image: url("/assets/1200px-Search_Noun_project_15028.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30px;
}

.btn {
    background-color: #5A348C;
    border-color: #47296D;
    color: white;
}

.btn:hover {
    background-color: #47296D;
    border-color: #5A348C;
}

#searchButton, #clearFilterButton {
    font-size: .9em;
    margin: 1.75vh .3vw;
}

#previousPageButton, #nextPageButton {
    margin: 1.75vh .7vw;
    font-size: 1.3em;
}

#top {
    font-size: 0.9em;
    margin: 1.75vh .3vw;
    padding: 0.2rem 0.8rem;

}

#pageNumber {
    font-size: 1.4em;
    color: #F5EEF8;
}

#loadStatus {
    text-align: center;
    font-size: 1.2em;
    margin-top: 2vh;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

/*Autocomplete*/

    /* IE 6 doesn't support max-height
    we use height instead, but this forces the menu to always be this tall */

.ui-autocomplete {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

html .ui-autocomplete {    
    background-color: #F5EEF8;
    border-color: #180748;
    list-style: none;
    text-indent: 10px;
    text-align: left;
    padding: 0;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background-color: #E8DEEB !important;
    font-weight: bold !important;
    color: #212F3D !important;
}

    /* there is a div with the next class name appearing in the bottom of the page when the Autocomplete function is "activated" 
    so I apply this hidden propiety for it to not shows in screen */

.ui-helper-hidden-accessible {
    visibility: hidden;         
}