body {
    background-image: url("/assets/Gogogo feed completo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 3vw 25px 3vw;
    min-height: 100vh;
}

@media (min-width: 422px){
    body {padding-top: 75px;
    } 
}

#container {
    box-shadow: 0px 0px 40px rgba(0,0,0,1);
    background-color: rgba(0,0,0,.7);
    outline: 9px double #4C90BE;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    margin: 2.5vh 0;
}

.portada {
    max-width: 75vw;
    max-height: 50vh;
}

@media (min-width: 576px){
    .portada {
        max-width:100%;
        max-height:50vw;
        height: 400px;
        width: 350px;
        min-height: 200px;
        min-width: 175px;
    }
}
thead th {
    padding: 0;
    text-align: center;
}

tbody {
    background-color: rgba(19,141,117,.5);
}

tbody tr {
    color: white;
    text-align: center; 
    border: 2px solid #45b39d;
    font-size: 1.2em;
}

table tbody tr:nth-of-type(even) {
    background-color: rgba(23, 165, 137, 0.4);
}

/*.row {
    margin: 0;
}
*/
.row > * {
    padding-left: 0%;
    padding-right: 0%;
}

::-webkit-scrollbar {
    display: none;
}

/*Autocomplete*/

    /* IE 6 doesn't support max-height
    we use height instead, but this forces the menu to always be this tall */

.ui-autocomplete {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

html .ui-autocomplete {    
    background-color: #F5EEF8;
    border-color: #180748;
    list-style: none;
    text-indent: 10px;
    text-align: left;
    padding: 0;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background-color: #E8DEEB !important;
    font-weight: bold !important;
    color: #212F3D !important;
}

    /* there is a div with the next class name appearing in the bottom of the page when the Autocomplete function is "activated" 
    so I apply this hidden propiety for it to not shows in screen */

.ui-helper-hidden-accessible {
    visibility: hidden;         
}