<body>
    <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/assets/gogogo manga y comics store - logo sin fondo 2.png" height="40" width="45">
                <img src="/assets/gogogo manga y comics store - logo sin fondo 3.png" width="150">
            </a>
        
            <div class="dropdown">

                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Opciones de usuario
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Catalogo de Productos</a></li>
                    <li><a class="dropdown-item" href="#">Administrar Usuarios</a></li>
                    <li><a class="dropdown-item" href="#">Administrar Títulos</a></li>
                    <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                    <li><a class="dropdown-item" href="#">Iniciar Sesión</a></li>
                </ul>
            </div>

        </div>
    </nav>
</body>