nav {
    background: linear-gradient(90deg, #180748 0%, #603896 100%);
 }

.navbar-brand {
   margin-left: 20px;
 }

 img {
   width: 12.5vmax;
   min-width: 200px;
 }

 .ui-widget {
   font-size: 1.2rem;
   margin-left: 20px;
   padding-top: 0px;
}

.ui-widget input {
   position: sticky;
   top: 2%;
   padding: 4px 8px;
   margin: calc(2.5px + 0.2%) 0;
   background-color: #F5EEF8;
   border: 1px solid #5A348C;
   border-radius: 6.5px 0 0 6.5px;
   text-indent: calc(.5rem + 1.75vw);
   font-size: calc(.6rem + .8vmax);
   width: calc(250px + 10%);
}

@media (max-width: 768px) {
   .ui-widget input {
      width: 75%;
   }
}

.ui-widget ::placeholder {
   background-image: url("/assets/1200px-Search_Noun_project_15028.png");
   background-position: right;
   background-repeat: no-repeat;
   background-size: 30px;
}

#searchButton {
   position: sticky;
   top: 2%;
   vertical-align: top;
   margin: calc(2.5px + 0.2%) 0;
   font-size: calc(.6rem + .8vmax);
   padding: 4px 8px;
   border-radius: 0 6.5px 6.5px 0;
   background-color: #5A348C;
   border-color: #47296D;
   color: white;
   display: inline;
}

#searchButton:hover {
   background-color: #47296D;
   border-color: #5A348C;
}

.btn-dark {
    background-color: #200960;
    border-color: #180748; 
    font-size: calc(.6rem + .75vmax);
    color: #F5EEF8;
}

.btn-dark:hover {
    background-color: #180748;
    border-color: #200960;
}

.btn-dark:focus {
    background-color: #180748;
}

.btn-dark:target {
    background-color: #200960;
 }

 .dropdown-menu {
    background-color: #F5EEF8;
 }

 .dropwdon-item {
    text-align: center;
 }

 .dropdown-item:hover {
    background-color: #E8DEEB;
    font-weight: bold;
 }

 .dropdown-item:focus {
    color: #603896;
 }
 
 @media (max-width: 768px){
   .dropdown, .login {
      padding-top: 5px;
      text-align: end;
      margin-right: calc(15vw - 8% - 15px);
   } 
   .ui-widget {
      padding-top: 0;
      text-align: center;
   }
}