<app-nav-bar></app-nav-bar>

<main>

    <div id="container" style="overflow: auto">

        <header>

            <h1 id="mainTitle">LISTA DE USUARIOS</h1>

        </header>

        <body>
            <form>

                <table class="table table-striped-columns">

                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Password</th>
                            <th>Email</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ><!-- *ngFor="let Usuario of user"
                            <td id="username">
                                <h5>{{Usuario.username}}</h5>
                            </td>
                            <td id="password">
                                <p>{{Usuario.password}}</p>
                            </td>
                            <td id="email">{{Usuario.email}}</td>-->
                            <td>Ejemplo: admin</td>
                            <td>Ejemplo: *****</td>
                            <td>Ejemplo: admin@admin.com</td>
                            <td id="btn">
                                <button type="button" class="btn btn-dark"
                                    routerLink="/editUser"> <!-- /{{Usuario.id}}" *ngIf="isLogged" -->
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button type="button" class="btn btn-dark" > <!-- (click)="deleteUser(Usuario.id)" *ngIf="isLogged" -->
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody> 

                    <tfoot>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-dark" id="add" routerLink="/newUser"> <!--*ngIf="isLogged"-->
                                    <i class="bi bi-plus-square"></i></button>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </form>
        </body>

    </div>

</main>