
main {
    padding: 125px 7.5vw 25px 7.5vw;
    min-height: 100vh;
    background-image: url("/assets/3068.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    box-shadow: 0px 0px 40px rgba(0,0,0,1);
    background-color: #D6CBDA;
    outline: 9px double #4C90BE;
    border-radius: 8px;
}

#mainTitle{
    padding-top: 1vh;
    text-align: center;
    color: #212F3D;
}

table{
    border-collapse: collapse;                         /*No space between cell borders*/
    margin-top: 2vh;
    background-color: #E4D8E9;
    border-radius: 0 0 8px 8px;
}

.table > :not(caption) > * > * {
    padding: 0.75rem 2%;
}

thead {
    font-weight: bold;
    outline: 1px solid black;
    font-size: calc(0.75rem + .6vmax);
}

tbody > tr {
    outline: 1px solid black;
    font-size: calc(0.6rem + .6vmax);
}

button {
    background-color: #5297c4;
    border-color: whitesmoke; 
    color: #212F3D;
    margin: 5px;
}

::-webkit-scrollbar {
  background-color: #D6CBDA;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #603896;
  border-radius: 1px;
  border: 1px solid #47296D;
}