@import "~bootstrap-icons/font/bootstrap-icons.css";

::-webkit-scrollbar {
    background-color: #D6CBDA;
    border-radius: 1px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #603896;
    border-radius: 1px;
    border: 1px solid #47296D;
  }