<div class="row text">
    <div class="col-7">
        <h6>CONTACTANOS</h6>
        <p><i class="bi bi-chat-right-text"></i> : 3764639518</p>
        <p><i class="bi bi-envelope-at-fill"></i> : gogogolocal@gmail.com</p>
        <p><i class="bi bi-geo-alt-fill"></i> : Clotilde de Fernandez 1085 - Posadas Misiones</p>
    </div>
    <div class="col-5 text-end">
        <h6>REDES SOCIALES</h6>
        <ul>
            <li class="redes">
                <a href="https://www.instagram.com/gogogolocal/"><i class="bi bi-instagram"></i></a>
            </li>
            <li class="redes">
                <a href="https://www.facebook.com/profile.php?id=100076226289267"><i class="bi bi-facebook"></i></a>
            </li>
        </ul>
    </div>
</div>