.row {
    padding: 0 2.5vw;
    text-align: center;
    margin-top: 1.5vh;
}

@media (min-width: 422px){
    .row {padding: 0 25px;
    }
}

img {
    max-height: 60vh;
}

.logo {
    max-width: 33%;
    height: auto;
    transition: all .5s;
}

@media (max-width: 992px){
    .logo {max-width: 50%;
        transition: all .5s;
    } 
}

@media (max-width: 572px){
    .logo {max-width: 75%;
        transition: all .5s;
    }
}